name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17
      - uses: gradle/actions/setup-gradle@v5
        with:
          dependency-graph: generate-and-submit
      - name: Build with Gradle
        run: ./gradlew build
      - run: ./gradlew copyToNative
      - run: ./gradlew getClassPath
      - run: echo "CLASSPATH=$(cat class.path)" >> $GITHUB_ENV
      - run: LD_LIBRARY_PATH=$LD_LIBRARY_PATH:${{ env.JAVA_HOME }}/lib/server ./build/bin/native/debugExecutable/jniTest.kexe ${{ env.CLASSPATH }} Hello 42
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          path: | 
            "**.log"
            "core.**"
      - run: ./gradlew runJni
